[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
catboost = "*"
imblearn = "*"
joblib = "*"
lightgbm = "*"
matplotlib = "*"
numpy = "*"
optuna = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
tqdm = "*"
ucimlrepo = "*"
xgboost = "*"
mlflow = "*"
ipykernel = "*"
black = {extras = ["jupyter"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.16"
